%form{:method => 'get', :action => '/search'}
  %input{:type => 'search', :name => 'query', :placeholder => 'Poney.avi',:value => params[:query]}
  %input{:type => "submit", :value => "Search", :class => "button"}

%table
  - if not @results.nil?
    - @results.each do |entry|
      %tr
        %td
          %a{:title => entry.name, :href => entry.remote_path}= entry.full_path


- if not @page_count.nil? and @page_count > 1
  - if params[:page].to_i > 1
    %a{:title => 'previous', :href => "/search?query=#{params[:query]}&page=#{params[:page].to_i - 1}"} Previous
  - 1.upto(@page_count) do |p|
    %a{:title => 'page', :href => "/search?query=#{params[:query]}&page=#{p}"}= p
  - if params[:page].to_i < @page_count
    %a{:title => 'next', :href => "/search?query=#{params[:query]}&page=#{params[:page].to_i + 1}"} Next
